[user]
	email = jkeylu@gmail.com
	name = jKey Lu
[color]
	ui = true
[alias]
	cm = commit
	co = checkout
	ac = !git add -A && git commit
	st = status -sb
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
	editor = vim
